/* Don't change the existing CSS. */
#outer-box {
  border: 10px solid purple;
}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

/* Make all changes below */

.box p {
  color: yellow;
}

.inner-box p {
  background-color: red;
  color: white;
  padding: 10px;
}

